

#heade{
  background-color: #8FAFD3;
  margin-top: 50px;

}
.btn-reserva{
  width: 100%;

}
footer
{
  background: #8FAFD3;
  margin-top: 40px;
  padding-bottom: 40px;
}

.card-uva{
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin: 2px 5px 2px 5px;
}
.card-uva:hover{
  border: 2px solid gray;
}

h5{
  padding-top: 10px;

}
p
{

  font-size: 20px;
}
.first{
  padding-bottom: 30px;
}
.footer-icons{
  padding-right: 10px;
}

#searchsub
{
  position: absolute;
  top: 50px;
  left:30px;
  width: 85%;
}
